.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes backgroundColorChange {
  0% { background-color: #d63814; }
  25% { background-color: #ff7f50; } /* Coral */
  50% { background-color: #20b2aa; } /* LightSeaGreen */
  75% { background-color: #1e90ff; } /* DodgerBlue */
  100% { background-color: #d63814; } /* Back to original */
}

.App-header {
  animation: backgroundColorChange 5s infinite;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px; /* Add padding for better spacing */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.butt {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap on small screens */
  margin-top: 20px;
}

.bttn {
  margin: 0 10px; /* Add horizontal space between buttons */
  padding: 10px 20px; /* Optional: Add padding for better button appearance */
  border-radius: 3rem;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

#Pre {
  background-color: #61dafb;
}

#Nex {
  background-color: rgb(89, 243, 89);
}

.ReactPlayer {
  width: 100vw; /* Full width of the viewport */
  height: 56.25vw; /* Maintain a 16:9 aspect ratio */
  max-width: 1200px; /* Optional: Set a max width */
  max-height: 675px; /* Optional: Set a max height to maintain aspect ratio */
  object-fit: cover; /* Ensures content fits within dimensions */
}

@media (max-width: 600px) {
  .ReactPlayer {
    width: 100vw; /* Full width on small screens */
    height: 56.25vw; /* Maintain aspect ratio on small screens */
  }
}


  .bttn {
    font-size: 14px; /* Smaller button text on small screens */
    padding: 8px 16px; /* Adjust padding for better fit on small screens */
  }

